*{
    box-sizing: border-box;
    font-family: 'Inter','sans-serif';
    font-weight: 500;
}
.newTransactionBtn{
    background-color: crimson;
    color: white;
    padding: 5px 10px;
    border-radius: 8px;
    border: 1px solid white;
    transition: 0.1s all linear;
    position: fixed;
    bottom: 8px;
    right: 5px;
    z-index: 1000;
}
.newTransactionBtn:hover{
    border: 1px solid black;

}
.modal-header{
    border: 0px !important;
}
#exampleModalLabel{
    font-size: 18px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 700;
}

.btn-close{
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}
.alertDiv{
    height: 70px;
}
.modal-body{
    border: 0px !important;
}
.form-label{
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}
.form-control{
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Inter', 'sans-serif';
    font-weight: 600;
}
.modal-footer{
    border: 0px !important;
    padding: 10px 0px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.closeBtn{
    background-color: crimson;
    color: white;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
    width: 70px;
}
.addBtn{
    background-color: #0086ED;
    color: white;
    padding: 5px 0px;
    border: none;
    border-radius: 5px;
    width: 70px;
}
.charts{
    height: 100%;
    background-color: white;
    padding: 12px 12px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px grey;
    max-width: 100%;
    overflow-x: auto;
    
}
.ChartDiv{
    width: 100%;
    max-width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 300px;
}
.registerBtn{
    background-color: #0086ED;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}
.bi-coin{
    font-size: 35px;
}
