*{
  box-sizing: border-box;
  font-family: "Inter","sans-serif";
}
body{
  /* background-color: #F3F3F3; */
  max-width: 2400px;
  margin: auto; 
}
.scrollbar-hidden{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.disabled{
  opacity: 0.6;
  cursor: context-menu !important;
}

.box-shadow-grey-10{
  box-shadow: 1px 1px 10px  #888888 ;
}
.box-shadow-grey{
  box-shadow: 1px 1px 12px  #888888 ;
}

.sub-color1{
  background-color: rgb(199, 208, 255);
}
.sub-color2{
  background-color: rgb(191, 248, 233);
}
.sub-color3{
  background-color: rgb(255, 215, 170);
}

/* Slider CSS */
@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 20s linear infinite;
}
.box-shadow-hover-grey-10:hover{
  box-shadow: 1px 1px 15px grey;
}
.top-100vh-80px{
  height: calc(100vh - 80px);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}