*{
  box-sizing: border-box;
  font-family: "Inter","sans-serif";
}
body{
  /* background-color: #F3F3F3; */
  max-width: 2000px;
  margin: auto; 
}
.scrollbar-hidden{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.disabled{
  opacity: 0.6;
  cursor: context-menu !important;
  
}
.bg-thd-color-violet-90{
  background-color: #312454;
  opacity: 0.79;
}
.box-shadow-grey-10{
  box-shadow: 1px 1px 10px  #888888 ;
}
.box-shadow-grey{
  box-shadow: 1px 1px 12px  #888888 ;
}
.base-color-600{
  background-color: rgb(255, 253, 99,0.6);
}
.base-color-700{
  background-color: rgb(255, 253, 99,0.7);
}
.base-color-800{
  background-color: rgb(255, 253, 99,0.8);
}
.base-color-900{
  background-color: rgb(255, 253, 99,0.9);
}
.base-color{
  background-color: rgb(255, 253, 99);
}
.sub-color1{
  background-color: rgb(199, 208, 255);
}
.sub-color2{
  background-color: rgb(191, 248, 233);
}
.sub-color3{
  background-color: rgb(255, 215, 170);
}

/* Slider CSS */
@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 20s linear infinite;
}
.box-shadow-hover-grey-10:hover{
  box-shadow: 1px 1px 15px grey;
}